<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="empsql">

    <select id="findAll" 
            resultType="org.tarena.entity.Emp">
        select * from emp
    </select>
    
    <select id="findLikeName" 
            parameterType="string" 
            resultType="org.tarena.entity.Emp">
        select * from emp where name like #{name}
    </select>
    
    <select id="findById" 
            parameterType="int"
            resultType="org.tarena.entity.Emp">
       select  *  from emp where id=#{id}
    </select>
    
    <insert id="save" parameterType="org.tarena.entity.Emp">
        insert into emp (name,salary,age) values (#{name},#{salary},#{age})
    </insert>
    
    <!-- session.delete(id,16) -->
    <delete id="delete" parameterType="int">
        delete from emp where id=#{eid}
    </delete>
    
    <!-- session.update(id,emp) -->
    <update id="updateSalary" parameterType="org.tarena.entity.Emp">
        update emp set salary=#{salary} where id=#{id}
    </update>
    
</mapper>